In [22]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [97]:
file = 'out2021_02_26_habdishab_exp_rat1_crop2_trim1DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000_el.csv'
df = pd.read_csv(file)
one_pixel = 0.102 #cm
threshold = 2

In [59]:
def firstfun(file):

    df = pd.read_csv(file)

    one_pixel = 0.102 #cm

    threshold = 2 #maximum distance between body parts in cm 
    
    return df

In [103]:
df

,scorer,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.1,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.2,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.3,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.4,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.5,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.6,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.7,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.8,...,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.35,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.36,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.37,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.38,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.39,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.40,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.41,dist,dist_cm,interaction
0,individuals,rat1,rat1,rat1,rat1,rat1,rat1,rat1,rat1,rat1,...,rat2,rat2,rat2,rat2,rat2,rat2,rat2,NaN,NaN,False
1,bodyparts,snout,snout,snout,right ear,right ear,right ear,left ear,left ear,left ear,...,thoracic spine,lumbar spine,lumbar spine,lumbar spine,tail base,tail base,tail base,NaN,NaN,False
2,coords,x,y,likelihood,x,y,likelihood,x,y,likelihood,...,likelihood,x,y,likelihood,x,y,likelihood,NaN,NaN,False
3,0,291.96,376.862,1.0,267.196,347.141,1.0,297.405,340.237,1.0,...,1.0,806.253,66.205,1.0,NaN,NaN,1.0,NaN,NaN,False
4,1,291.413,376.084,1.0,266.813,346.822,1.0,297.328,339.255,1.0,...,1.0,806.25,66.199,1.0,NaN,NaN,1.0,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8988,8985,223.985,62.585,1.0,276.261,47.833,1.0,271.112,75.665,1.0,...,1.0,431.321,160.928,1.0,NaN,NaN,1.0,NaN,NaN,False
8989,8986,224.323,62.348,1.0,277.064,46.401,1.0,272.788,75.931,1.0,...,1.0,440.473,159.731,1.0,NaN,NaN,1.0,NaN,NaN,False
8990,8987,224.324,62.348,1.0,277.066,46.401,1.0,272.789,75.932,1.0,...,1.0,440.476,159.731,1.0,NaN,NaN,1.0,NaN,NaN,False
8991,8988,225.386,62.068,1.0,278.815,47.741,1.0,275.822,78.838,1.0,...,1.0,440.196,160.422,1.0,NaN,NaN,1.0,NaN,NaN,False
8992,8989,225.533,62.542,1.0,278.012,47.513,1.0,276.143,79.725,1.0,...,1.0,438.536,160.62,1.0,NaN,NaN,1.0,NaN,NaN,False

In [86]:
snout1 = df.iloc[3:,[1,2]]

rightear1 = df.iloc[3:,[4,5]]

leftear1 = df.iloc[3:,[7,8]]

dorsal1 = df.iloc[3:,[10,11]]

thoracic1 = df.iloc[3:,[13,14]]

lumbar1 = df.iloc[3:,[16,17]]

tail1 = df.iloc[3:,[19,20]]

snout2 = df.iloc[3:,[22,23]]
                    
rightear2 = df.iloc[3:,[25,26]]

leftear2 = df.iloc[3:,[28,29]]

dorsal2 = df.iloc[3:,[31,32]]

thoracic2 = df.iloc[3:,[34,35]]
                    
lumbar2 = df.iloc[3:,[37,38]]

tail2 = df.iloc[3:,[40,41]]

In [84]:
snout1 = df.iloc[3:,[1,2]]
print(snout1)

     DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000  \
3                                                291.96
4                                               291.413
5                                               291.775
6                                               291.951
7                                               283.796
...                                                 ...
8988                                            223.985
8989                                            224.323
8990                                            224.324
8991                                            225.386
8992                                            225.533

     DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.1
3                                               376.862
4                                               376.084
5                                               380.819
6                                               380.891
7                                               377.035
...                                                 ...
8988                                             62.585
8989                                             62.348
8990                                             62.348
8991                                             62.068
8992                                             62.542

[8990 rows x 2 columns]

In [113]:
dorsal2

,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.30,DLC_dlcrnetms5_NewProjectExtraLabelMar9shuffle1_100000.31
3,671.02,59.398
4,670.996,59.377
5,670.841,59.927
6,670.789,60.163
7,670.684,59.505
...,...,...
8988,523.452,102.724
8989,523.847,101.245
8990,523.886,101.294
8991,523.05,96.03
8992,522.877,96.06

In [119]:
np.linalg.norm(two_labels[0][0].values.astype(float) - two_labels[0][1].values.astype(float), axis=1)

array([431.26545053, 431.11767715, 436.28060709, ..., 356.86264988,
       353.16756837, 352.98200462])

In [122]:
two_labels = [[snout1, snout2], [snout1, rightear2], [snout1, leftear2], [snout1,dorsal2], [snout1,thoracic2], [snout1, lumbar2], [snout1, tail2] ,[snout2, rightear1], [snout2, leftear1], [snout2, dorsal1],  [snout2, thoracic1], [snout2, lumbar2], [snout2, tail1]] #all combinations of behaviours of interest

In [133]:
results = []
one_pixel = 0.102
threshold = 2

for combinations in two_labels:
    distances = pd.DataFrame() #create dataframe
    distances['dist_pixels']=np.linalg.norm(combinations[0].values.astype(float) - combinations[1].values.astype(float), axis=1) #distance between body parts of interest
    distances['dist_cm'] = distances['dist_pixels']*one_pixel #convert to cm
    distances['interaction'] = distances['dist_cm']<threshold #apply threshold
    interactions_true_table = distances.loc[distances["interaction"]== True] #locate points below threshold
    results.append(interactions_true_table)

Empty DataFrame
Columns: [dist_pixels, dist_cm, interaction]
Index: []

In [134]:
results[1] #number in [] represents combination stored in two_labels list

      dist_pixels   dist_cm  interaction
432     18.705540  1.907965         True
433     18.698385  1.907235         True
804     19.379009  1.976659         True
805     19.379322  1.976691         True
806     17.263107  1.760837         True
807     17.222601  1.756705         True
808     13.215242  1.347955         True
809     13.253653  1.351873         True
1428    12.229504  1.247409         True
1429    11.909725  1.214792         True
1472    17.674793  1.802829         True
1473    17.723093  1.807756         True
1484     8.106395  0.826852         True
1485     8.087165  0.824891         True
1488     7.250564  0.739558         True
1489     7.280665  0.742628         True
1726    11.502510  1.173256         True
1727    11.598187  1.183015         True
2147    10.131887  1.033452         True
5568    19.280009  1.966561         True
5569    19.240253  1.962506         True